
        {% include 'sitio/cabeceraNavbar.html' %}   
        <main>
            <div class="container" >
                <h1>Hacé click en nuestro botón de Print.uy</h1>
                <h2>¡Y tené tus impresiones donde, cuando y cómo vos elijas!</h2>
                <button type="button" class="btn btn-dark btn-link btn-lg"><img src="template\iconoPrintUy.png" alt="Logo" width="30" height="24"></button>
            </div>
        </main>
        {% include 'sitio/pieFooter.html' %}
    </body>
</html>
